# Python cache
__pycache__/
*.pyc

# Django
db.sqlite3

# Virtual environment
.venv/

# VS Code settings
.vscode/

# YOLO weights (optional if large)
*.pt

# Ignore contents of results and uploads, but keep .gitkeep
media/*
!media/.gitkeep

